<h1>Edit your account</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :first_name, class:"form-control", :placeholder => "First name" %><br>
  <%= f.text_field :last_name, class:"form-control", :placeholder => "Last name" %><br>
   <%= f.text_field :city, class:"form-control", :placeholder => "City" %><br>
  <%= f.email_field :email, class:"form-control", :placeholder => "Email" %><br>
  <%= f.password_field :password, class:"form-control", :placeholder => "Password" %><br>
  <%= f.submit "Save Changes", class: "btn-submit" %>
<% end %>