<!-- Placed outside of .container, will make it screen width, you can place inside .row -->

<div class="jumbotron">
	<center>
		<span class="lobster"> <h1>Vagabond</h1>
		</span>
		<h5>for pets!</h5>
	</center>

</div>

<div class="container">
		<div class="col-md-5">
			<iframe width='100%' height='250px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/robbbo.06b52a5c/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoicm9iYmJvIiwiYSI6IjU1YjFkNzRjOWE1NTY2NjcwOTczNjcxOGM1OWY1ZTBhIn0.zYjNIE5t0HaTrQhbE5Gpcg'></iframe>
		<%= link_to 'San Franscisco', '/cities/san-francisco' %>  - 
		<%= link_to 'Portland', '/cities/portland' %>  - 
		<%= link_to 'London', '/cities/london' %> - 
		<%= link_to 'Gibraltar', '/cities/gibraltar' %>  
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-6"> 
			<% @posts.each do |post| %>
			<div class= "well" >
			
			<%= link_to post.title.capitalize, post_path(post) %> - By: <%= link_to post.user.first_name.titleize, user_path(post.user_id) %> <br>
			Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>	
		    		<br> <br>
		   	</div>	
				<% end  %> 

</div>
