

<%= form_for @post do |f| %>
 <p>
   Title: <%= f.text_field :title %>
 </p>

 <p>
   Body: <%= f.text_area :body %>
 </p>

  <p>
   Your name: <%= f.text_area :author %>
  </p>
  <%= f.hidden_field :city_id, value: @city.id %>
 <p>
   <%= f.submit %>
 </p>

<% end  %>